name: CI
#on:
#  pull_request: {}
#  push: { branches: [master] }

on: 
  push:
    paths-ignore:
      - '/*.md'

jobs:
  CI:
    name: Test
    runs-on: ubuntu-latest
    env:
      UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
    if: true
    steps:
  
      # Checkout repository (required to test local actions)
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
        
      - name: Cache Library
        id: cache-library
        uses: actions/cache@v2
        with:
          path: Library
          key: Library
          
      - name: Activate license
        uses: MirageNet/unity-runner@3.1.0
        with:
          entrypoint: /activate.sh
          
      - name: Generate Solution
        uses: MirageNet/unity-runner@3.1.0
        with:
          # Arguments to pass to unity
          args: -buildTarget StandaloneWindows64 -customBuildName Mirage -customBuildPath ./build/StandaloneWindows64 -projectPath . -executeMethod  UnityEditor.SyncVS.SyncSolution -quit
  
      - name: Generate API
        uses: nikeee/docfx-action@v1.0.0
        with:
          args: metadata --logLevel Warning --warningsAsErrors doc/docfx.json

      - name: Compile Docs
        uses: nikeee/docfx-action@v1.0.0
        with:
          args: build --logLevel Warning --warningsAsErrors doc/docfx.json

      - name: Publish Docs
        uses: crazy-max/ghaction-github-pages@v2.2.0
        if: github.ref == 'refs/heads/master'
        with:
          # Create incremental commit instead of doing push force
          keep_history: true
          allow_empty_commit: true
          jekyll: false
          build_dir: doc/_site
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Configure test runner
      - name: Run editor Tests
        uses: MirageNet/unity-runner@3.1.0
        with:
          args: -runTests -testPlatform editmode -testResults Tests/editmode-results.xml -enableCodeCoverage -coverageResultsPath Tests

      - name: Run play Tests
        uses: MirageNet/unity-runner@3.1.0
        with:
          args: -runTests -testPlatform playmode -testResults Tests/playmode-results.xml -enableCodeCoverage -coverageResultsPath Tests
          
      # Upload artifacts
      - name: Archive test results
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: Test results
          path: Tests

      - name: Publish test results
        uses: MirageNet/nunit-reporter@v1.0.9
        if: always()
        with:
          path: "Tests/*.xml"
          access-token: ${{ secrets.GITHUB_TOKEN }}
  
      - name: Release
        uses: cycjimmy/semantic-release-action@v2
        id: semantic
        with:
          extra_plugins: |
            @semantic-release/exec
            @semantic-release/changelog
            @semantic-release/git
          branch: master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
      - name: SonarQube analysis
        if: always()
        uses: MirageNet/unity-runner@3.1.0
        with:
          entrypoint: /sonar-scanner.sh
          projectKey: MirageNet_Mirage
          projectName: Mirage
          sonarOrganisation: miragenet
          beginArguments: >-
            /d:sonar.verbose="false" 
            ${{ steps.semantic.outputs.new_release_published == 'true' && format('/v:{0}',steps.semantic.outputs.new_release_version) || '' }}
            /d:sonar.cs.nunit.reportsPaths=Tests/editmode-results.xml,Tests/playmode-results.xml 
            /d:sonar.cs.opencover.reportsPaths=Tests/workspace-opencov/EditMode/TestCoverageResults_0000.xml,Tests/workspace-opencov/PlayMode/TestCoverageResults_0000.xml
        env:
          FrameworkPathOverride: /opt/Unity/Editor/Data/MonoBleedingEdge/
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  
