name: Github pr-name-linter
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
  PR_lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: npm install @commitlint/config-conventional
    
    - uses: JulienKode/pull-request-name-linter-action@v19.0.0
