name: pr-name-linter
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
  PR_lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: npm install @commitlint/config-conventional
    
    - uses: JulienKode/pull-request-name-linter-action@v0.5.0

  Commit_lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: npm install @commitlint/config-conventional
    
    - uses: wagoid/commitlint-github-action@v2.0.3
