name: RequestActivationFile

on: 
  workflow_dispatch
  
jobs:
  requestActivationFile:
    runs-on: ubuntu-latest
    container: unityci/editor:ubuntu-2020.3.4f1-base-0.11.0
    steps:
      - name: Request manual activation file
        continue-on-error: true
        run: unity-editor -logFile /dev/stdout -createManualActivationFile -quit 

      - name: Upload License Request
        uses: actions/upload-artifact@v1
        with:
            name: Manual Activation File
            path: Unity_v2020.1.17f1.alf

      - name: Next Steps
        run: |
          echo "Upload the file to https://license.unity3d.com/manual to get a license"
          echo "Then save the license in a secret called UNITY_LICENSE"

